<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>so.aulavirtual.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InterceptarRedireccionServlet</servlet-name>
        <servlet-class>so.aulavirtual.servlets.InterceptarRedireccionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedireccionarServlet</servlet-name>
        <servlet-class>so.aulavirtual.servlets.RedireccionarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>so.aulavirtual.servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>so.aulavirtual.servlets.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoServlet</servlet-name>
        <servlet-class>so.aulavirtual.servlets.CursoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/vistas/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterceptarRedireccionServlet</servlet-name>
        <url-pattern>/vistas/interceptar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedireccionarServlet</servlet-name>
        <url-pattern>/vistas/redireccionarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/vistas/logout</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/vistas/templates/error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoServlet</servlet-name>
        <url-pattern>/CursoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
